<div class="game-wrapp container-game">
    <div>
        <div>
            <h1>Round: <span>4</span></h1>
        </div>
        <div id="hands">
            <div class="hand" id="computer-hand">
                <div class="fist"></div>
                <div class="finger finger-1"></div>
                <div class="finger finger-2"></div>
                <div class="finger finger-3"></div>
                <div class="finger finger-4"></div>
                <div class="thumb"></div>
                <div class="arm"></div>
            </div>

            <div class="hand" id="user-hand">
                <div class="fist"></div>
                <div class="finger finger-1"></div>
                <div class="finger finger-2"></div>
                <div class="finger finger-3"></div>
                <div class="finger finger-4"></div>
                <div class="thumb"></div>
                <div class="arm"></div>
            </div>

            <div id="icons">
                <div>
                    <label for="rock-rock">✊</label>
                    <label for="paper-rock">✊</label>
                    <label for="scissors-rock">✊</label>
                </div>
                <div>
                    <label for="rock-paper">🖐️</label>
                    <label for="paper-paper">🖐️</label>
                    <label for="scissors-paper">🖐️</label>
                </div>
                <div>
                    <label for="rock-scissors">✌</label>
                    <label for="paper-scissors">✌</label>
                    <label for="scissors-scissors">✌</label>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <div class="message-info d-flex flex-column align-items-center">
                <span class="message-info-icon">&#129351;</span>
                <h1 class="message-info-text you-win">You WIN!</h1>
            </div>
            <div class="col-10 d-flex flex-column">
                <div class="col-12 score-header">
                    <p class="m-0">SCORE</p>
                </div>
                <div class="col-12 d-flex score-body">
                    <div class="col-6 score-separate">
                        <p class="m-0">0</p>
                    </div>
                    <div class="col-6">
                        <p class="m-0">0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>